*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* header */
#navigation{
    background-image: url('assets/Illustrations/Game/Batgame1.png');
    background-position: cover;
    background-repeat: no-repeat;
    height: 850px;
}
#navigation nav #logohome, header aside{
    cursor: pointer;
}
header aside{
    position: fixed;
    top: 45%;
    left: 89%;
    transition: all .5s;
    z-index: 1000;
}
:is(footer #icon) img{
    cursor: pointer;
}
.top_bar{
    border-bottom: 2px solid #c4c4c46e;
    padding-bottom: 30px;
}
aside{
    position: absolute;
    top: 45%;
    left: 89%;
}
.menu a{
    color: #ffffff;
    text-decoration: none;
    transition: all .3s; 
}
.menu a[href="#"]{
    text-decoration: underline;
    font-weight: bolder;
}
.play{
    padding-left: 4.5%;
    padding-top: 18%;
}
nav ul li a:hover{
    text-decoration: underline;
    color: white;
    font-weight: bolder;
}

/* body */
main{
    background-color: #000000;
    height: 5100px;
}

/* section1 */
.fleche{
    padding-left: 45%;
}

/* section 2 */
.quiz{
    padding-left: 4.5%;
    padding-top: 15%;
}

/* quiz niveau 1 */
.back1{
    background-color: #817d7d;
    height: 35px;
    width: 370px;
}

/* quiz niveau 2 */
.quiz2{
    padding-top: 12%;
}
.imagedernier{
    padding-left: 5%;
}
#redemarrer{
    border: none;
    background-image: linear-gradient(to bottom right ,#EDDEBF ,#890008);
    margin-top: 8%;
    width: 30%;
    height: 70px;
    margin-left: 32%; 
}
.text-pink{
    background-color:  #ce0f1c;
}
.text-pink a{
    text-decoration: none;
}

/* footer */
footer{
    margin-top: 15%;
    font-size: 12px;
}
footer figure img{
    width: 25px;
    height: 25px;
}

/* Animation */
.aside_move{
    animation: move_aside .5s linear;
}
@keyframes move_aside {
    from {top: 30%;}
    to {top: 45%;}
}
.translate_title{
    animation: translate_header 1s linear;
}
@keyframes translate_header {
    from { 
        opacity: .3;
        margin-left: -15%;
    }
    to { 
        opacity: 1;
    }
}
.opacity_title{
    animation: myopacity 1s linear;
}
@keyframes myopacity {
    from { opacity: .2; }
    to { opacity: 1; }
}
.btn-demarrer{
    border: none;
    background-image: linear-gradient(to bottom right, #EDDEBF, #890008);
    opacity: .6;
    transition: all .5s;
}
.btn-demarrer:hover{
    opacity: 1;
    transform: scale(1.1, 1.1);
}
.back1:hover{
    background-color: #F8F184;
    cursor: pointer;
    color: black;
}
input[type="checkbox"]{
    cursor: pointer;
}
/*